*{
    margin: 0;
    padding: 0;
    
}



#content-search {

    .search-for-items{
        display: flex;
        list-style: none;
    }

    
    // .search-product{
    //     width: 605px;
    //     height: 41px;
    //     background: #FFFFFF;
    //     border: 1px solid #D9D9D9;
    //     border-radius: 5px;
    //     margin-right: 10px;
    // }

    .btn-search{
        width: 98px;
        height: 41px;
        background: #0AAD0A;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
    }
    
    .btn-search a{
        color: #fff;
    }

}







