<div class="container text-center" id="content-search">

 
  
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>


  <!-- <div class="row p-4 pt-3">
    <div class="col-md-10 d-flex">
          <img src="../../assets/freshcart-logo.svg" />
          <div class="row d-flex">
        <div class="col-10">
          <input
          type="email"
          class="form-control search-product"
          id="exampleFormControlInput1"
          placeholder="   Search for products....  "
        />
        </div>
     
       
      </div>
      <!-- <ul class="search-for-items">
        <li class="logo mr-3"><img src="../../assets/freshcart-logo.svg" /></li>
        <li>
          <input
            type="email"
            class="form-control search-product"
            id="exampleFormControlInput1"
            placeholder="   Search for products....  "
          />
        </li>

        <li>
          <button class="btn btn-search">
            <img src="../../assets/icon-search.png">
            <a>
              Location</a>
          </button>
        </li>
       
      </ul>
    </div> 

   <!--  -->
</div>

